<h5>Log-in</h5>
{% if form.errors %}
    <p>You username and password didn't match. Please try again</p>
{% else %}
    <p>Please, use the following form to log-in</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
{#        {{ form.as_p }}#}
        {% for field in form %}
            <div class="form-field">
                {% if field.errors %}
                    <div class="form-errors">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>

                {% endfor %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Log-in"></p>
    </form>
</div>