{% extends 'base_blog.html' %}

{% block title %}
    Tag Create - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container offset_min">
        <div class="form-item">
            <h4>Add new tag</h4>
            <form class="" action="{% url 'tag_create_url' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-field">
                        {% if field.errors %}
                            <div class="form-errors">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field.label }}
                        {{ field }}
                    </div>

                {% endfor %}
                <button type="submit" class="form-btn">Create new tag</button>

            </form>
        </div>
    </div>

{% endblock %}