{% extends 'base.html' %}

{% block title %}
    Create an account
{% endblock %}

{% block content %}
    <div class="container">
        <h4>Create an account</h4>
        <p class="form_title">Please, sign up using following form:</p>
        <form action="#" method="post">
            <div class="form-field small-padding">
                {{ user_form.as_p }}
            </div>
            {% csrf_token %}
            <p><input type="submit" value="Create my account" class="form-btn"></p>
        </form>
    </div>
{% endblock %}