{% extends 'base.html' %}

{% block title %}
    Reset you password
{% endblock %}

{% block content %}
    <div class="container offset_min">
        <h4>Forgotten your password</h4>
        <p class="form_title">Enter your e-mail address to obtain a new password.</p>
        <form action="." method="post">
            <div class="form-field small-padding">
                {{ form.as_p }}
            </div>
            <p><input type="submit" value="Send e-mail" class="form-btn"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}