{% extends 'base.html' %}

{% block title %}
    Change you password
{% endblock %}

{% block content %}
    <div class="container offset_min">
        <h4>Change You password</h4>
        <p class="form_title title_center">Use the form below to change you password.</p>
        <form action="" method="post">
            <div class="form-field form-block small-padding">
                {{ form.as_p }}
            </div>
            {% csrf_token %}
            <p><input type="submit" value="Change" class="form-btn"></p>
        </form>
    </div>
{% endblock %}