{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <div class="container offset_min">
        <h4>Reset your password</h4>
        {% if validlink %}
            <p class="form_title title_center">Please enter your new password twice:</p>
            <form action="." method="post">
                <div class="form-field small-padding">
                    {{ form.as_p }}
                </div>
                {% csrf_token %}
                <p><input type="submit" value="Change my password" class="form-btn"></p>
            </form>
        {% else %}
            <p class="form_title">The password reset link was invalid, possibly because it
                has already been used. Please request a new password reset
            </p>
        {% endif %}
    </div>

{% endblock %}